<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png">
    <link rel="stylesheet" href="css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Herr+Von+Muellerhoff&family=Ubuntu&family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/logreg.css">
    <link rel="stylesheet" href="css/{{otherCSS}}">
    <title>{{docTitle}}</title>
</head>
<body>
    <nav class="nav-container">
        <div class="btnHome" id="btnBack">
            <a href="/"><p>TuTurno</p></a>
        </div>
        <button id="btnSearch">Ver turnos disponibles<i class="fas fa-map-marker-alt"></i></button>
        <div class="userSection" id="userSection">
            {{#if cookies.loged}}
            <div class="usrBtn" id="usrBtn">
                <a href="#">{{cookies.username}}</a>
                <i class="fas fa-sort-down"></i>
            </div>
            {{else}}
            <a href="#" id="signUp">Registrarse</a>
            <a href="#" id="logIn">Ingresar</a>
            {{/if}}
        </div>
    </nav>
    <section>
        <div class="userBarHidden" id="userBar">
            <a href="/user/profile">PERFIL</a>
            <a href="/user/logout" id="logout">SALIR</a>
        </div>
        <h2>{{description}}</h2>
        <div class="filter">
            <i class="fas fa-question-circle" id="helpButton"></i>
            <div class="help helpHidden" id="helpContainer">
                <p>-Buscar por nombre de cancha</p>
                <p>-Buscar por horario deseado</p>
                <p>-Dejar campos vacios muestra las canchas con turnos disponibles</p>
            </div>
            <input tipe="text" id="inputStadium" placeholder="Cancha">
            <input type="time" min="14:00" max="23:00" id="inputTime">
            <input type="submit" id="inputSubmit" value="Filtrar">
            <p id="pAlert" class="alertHidden">Mensaje de alerta por acción incorrecta</p>
        </div>
        {{{body}}}
    </section>
    <footer class="end">
        <div class="rightSide">
            <ul>
                <li><a href="/contact">Contacto</a></li>
                <li><a href="/stadium/stadiumRegister">Registra tu cancha</a></li>
                <li><a href="/faq">F&Q</a></li>
                <li>Localización: Concepción - Tucuman - Argentina</li>
                <li>Teléfono: +5493865348279</li>
            </ul>
        </div>
        <div class="leftSide">
            <div class="socialNetwork facebook">
                <a href="#"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="socialNetwork instagram">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="socialNetwork youtube">
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="bottom-footer">
            <img src="img/logo.png" class="imgLogoFooter">
            <p id="pFooter">&copy; TU TURNO - 2021</p>
        </div>
    </footer>
    <script src="js/list.js"></script>
    <script src="js/index.js"></script>
    <script src="js/register.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/logIn.js"></script>
</body>
</html>